<body>
    <h1 class="couples-title">Couples Questions</h1>
    <h2>Choose a Category</h2>
    <form class="couples-form" action="/questions/couples" method="GET">
        <ul class="couples-categories">
            <li class="couples-item">
                <input type="radio" id="spicy" name="category" value="spicy">
                <label class="spicy" for="spicy">Spicy</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="intimacy" name="category" value="intimacy">
                <label class="intimacy" for="intimacy">Intimacy</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="induce" name="category" value="induce">
                <label class="induce" for="induce">Induce</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="fun" name="category" value="fun">
                <label class="fun" for="fun">Fun</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="communication" name="category" value="communication">
                <label class="communication" for="communication">Communication</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="comedy" name="category" value="comedy">
                <label class="comedy" for="comedy">Comedy</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="future" name="category" value="future">
                <label class="future" for="future">Future</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="adventure" name="category" value="adventure">
                <label class="adventure" for="adventure">Adventure</label>
            </li>
        </ul>
        <button class="play-button" type="submit">Play</button>
    </form>
    <div class="couples-question-container">
        <p class="couples-question">{{question}}</p>
    </div>
</body>