<body>
    <h1 class="couples-title">Couples Questions</h1>
    <h2>Choose a Category</h2>
    <form action="/questions/couples" method="GET">
        <ul class="couples-categories">
            <li class="couples-item">
                <input type="radio" id="spicy" name="category" value="spicy">
                <label for="spicy">Spicy</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="intimacy" name="category" value="intimacy">
                <label for="intimacy">Intimacy</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="induce" name="category" value="induce">
                <label for="induce">Induce</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="fun" name="category" value="fun">
                <label for="fun">Fun</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="communication" name="category" value="communication">
                <label for="communication">Communication</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="comedy" name="category" value="comedy">
                <label for="comedy">Comedy</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="future" name="category" value="future">
                <label for="future">Future</label>
            </li>
            <li class="couples-item">
                <input type="radio" id="adventure" name="category" value="adventure">
                <label for="adventure">Adventure</label>
            </li>
        </ul>
        <button type="submit">Play</button>
    </form>
    <div class="couples-question-container">
        <p class="couples-question">{{question}}</p>
    </div>
</body>