<body>
    <h1 class="categoryPage-title">Choose Category</h1>
    <section class="categories-container">
        <div class="options">
            <div>
                <a class="wyr-option" href="/questions/wyr">Would You Rather</a> </br>
                <a href="/questions/wyr"><i class="wyr-scale fa-solid fa-scale-unbalanced"></i></a> 
            </div>
            <div>
                <a class="tod-option" href="/questions/tod">Truth or Dare</a> </br>
                <i class="question-mark fa-solid fa-question"></i>
            </div>
            <div>
                <a class="trivia-option" href="/questions/trivia">Trivia</a> </br>
                <i class="brain fa-solid fa-brain"></i>
            </div>    
             <div>
                <a class="couples-option" href="/questions/couples">Couples</a> </br>
                <a href="/questions/couples"><i class="heart fa-regular fa-heart"></i></a>
            </div>   
        </div>
    </section>
</body>