<body>
    <h1>Choose Category</h1>
    <section class="categories-container">
        <div class="options">
            <div>
                <a class="wyr-option" href="/questions/wyr">Would You Rather</a> 
            </div>
            <div>
                <a class="tod-option" href="/questions/tod">Truth or Dare</a>
            </div>
            <div>
                <a class="trivia-option" href="/questions/trivia">Trivia</a> 
            </div>    
             <div>
                <a class="trivia-option" href="/questions/couples">Couples</a> 
            </div>   
        </div>
    </section>
</body>