body{
    background-color: #f8f9fa;
    color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode{
    background-color: #343a40;
    color: #fff;
}

.darkmode-button{
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
}

.darkmode-button.darkmode{
    background: #444;
    color: white;
}

/********************/
/****** Scroll ******/
/********************/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #b0aaaa; 
}

::-webkit-scrollbar-thumb {
    background: #5829a8; 
}

::-webkit-scrollbar-thumb:hover {
    background: #4e229b; 
}

::-webkit-scrollbar-thumb:active {
    background: #421295; 
}

/********************/
/****** Navbar ******/
/********************/

.navbar-icon{
    height: auto; 
    width: 50px;
}

.navbar-brand{
    font-family: 'Danfo', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
}

.navbar{
    background-color: #673AB7;
}

/********************/
/****** WYR Page ****/
/********************/

.wyr-title{
    font-family: 'Danfo', sans-serif;
    font-size: 3em; 
}

/********************/
/*** Trivia Page ****/
/********************/

.trivia-title{
    font-family: 'Jacquard 12', sans-serif;
    font-size: 3em; 
}

/********************/
/****** ToD Page ****/
/********************/

.tod-title{
    font-family: 'Jaro', sans-serif;
    font-size: 3em; 
}   

/********************/
/* Categories Page **/
/********************/

.tod-option{
    font-family: 'Jaro', sans-serif;
    font-size: 2rem;
}   

.trivia-option{
    font-family: 'Jacquard 12', sans-serif;
    font-size: 3rem;

}

.wyr-option{
    font-family: 'Danfo', sans-serif;
    font-size: 2rem;
}

.couples-option{
    font-size: 2rem;
}

.categories-container{
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}

.options{
    display: grid; 
    grid-template-columns: repeat(1, 1fr); 
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
}

.options div{
    text-align: center; 
    min-width: 300px;
    height: 400px; 
    border: 1px solid #000; 
    border-radius: 20px; 
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

.options div:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.options div a{
    text-decoration: none;

}

.categoryPage-title{
    text-align: center;
    margin: 50px;
    font-size: 3rem; 
    margin-bottom: 80px;
}